* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("bg-masthead.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 560px;

}
header {
  position: fixed;
  background-color: aliceblue;
  height: 60px;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0.7;
  z-index: 100;
}


.container {
  margin-left: 205px;
  margin-right: 205px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.a {
    text-decoration: none;
    color: rgb(53, 45, 45);
    font-weight: bold;
    font-size: 25px;
   
}
.divright1 {
    margin-top: 10px;

}
.divleft1{
  margin-top: 10px;
  font-weight: bold;
  font-size: 17px;
}
ul {
  display: flex;
  flex-direction: row;
  gap: 50px;
  
}
li{
  list-style-type: none
}
.heading{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
 position:relative;
 top: 150px;
}
.h1 {
    font-size: 100px;
    margin-bottom: 30px;
    font-size: 72px;
    color: rgb(255, 255, 255);
    background: -webkit-linear-gradient(#eee, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.p{
  font-size: 27px;
  text-align: center;
  margin-bottom: 20px;
  color: rgb(182, 179, 179);
}
.asection {
    padding-top: 100px;
    text-align: center;
    width: 100%;
    height: 564px;
    background: linear-gradient(to bottom, #000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);
}
.text {
    padding: 0 80px 0 80px;
}
.image{
  max-width: 100%;
  height: auto;
}
.texthd{
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
  color: rgb(182, 179, 179);
}
.but1{
  background-color: cadetblue;
  padding: 20px;
  border-radius: 10px;
}
.image2 {
    max-width: 100%;
    height: auto;
    width: 695px;
    height: 435px;
}
.section2 {
    width: 100%;
    height: 573px;
   display: flex;
   align-items: center;
   padding: 300px 0 160px 111px;
}
.thetext {
padding-left: 32px;
border-left: 8px solid cadetblue;
}
.h2 {
width: 307px;
height: 28px;
text-align: center;
}
.txt {
    width: 307px;
    height: 120px;
    text-align: center;
}
.section3 {
display: flex;
flex-wrap: wrap;
justify-content: center;
color: white;
text-align:center;
padding: 100px;
}
.content {
background-color: black;
width: 520px;
height: 350px;
padding: 100px 50px 100px 50px;
}
.pics {
    width: 520px;
    height: 350px;
}
.hopefullythend {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 74%, #000 100%), url("bg-signup.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    text-align: center;
    padding-top: 150px;
}
.h2a {
font-size: 30px;
color: white;
margin-bottom: 30px;
}
#textsm {
    background-color: white;
    padding: 20px 200px;
    border-radius: 10px;
}
.but2 {
    background-color: cadetblue;
    padding: 20px;
    border-radius: 10px;
}
.final {
    background-color: black;
    width: 100%;
    height: 329px;
    color: dimgrey;
}
.fin {
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}
.f2 {
padding: 70px 40px;
background-color: white;
height: 200px;
width: 300px;
text-align: center;

}
hr {
    width: 60px;
    height: 4px;
    background-color: cadetblue;
    margin: auto;
}
h4 {
margin-bottom: 10px;
}
.aelmnt {
    font-weight: bold;
    font-size: 25px;
    color: dimgrey;
    text-decoration: none;
}
footer {
    color: dimgrey;
    width: 100%;
    height: 40px;
    text-align:center;
    background-color: black;
}
